# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Tauri build output
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
